<!-- stylesheet_link_tag "log_in.css" -->

<div class="jp_navbar">
  <a href="http://dsp.applift.com/" class="jp_logo_link">
    <img src="https://adv-dsplogo.s3.amazonaws.com/dsp_1459363534_513530713_DataLiftGreyWeb.png" style="width:150px;height:35px">
  </a>

  <% if I18n.locale == I18n.default_locale %>
    <%= link_to image_tag("http://pubnative-assets.s3.amazonaws.com/static/widget/img/html_units/jp_dsh/jp_icon.png", class: "jp_flag"), :locale=>'jp'%>
  <% else %>
    <%= link_to image_tag("http://pubnative-assets.s3.amazonaws.com/static/widget/img/html_units/jp_dsh/uk_icon.png", class: "jp_flag"), :locale=>'en'%>
  <%end%>

</div>

<div class="jp_main_container">
  <div class="col-md-8">
    <div class="bx-viewport">
      <img src="https://adv-dsplogo.s3.amazonaws.com/dsp_1452257268_1760712782_01.png">
    </div>
  </div>

  <div class="jp_login_form">
    <h2 class="jp_login_title"><%=t :sign_in_header %></h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label t :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label t :pass %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label t :remember_me %>
        </div>
      <% end -%>

      <div class="actions col-xs-6 col-sm-6 col-md6">
        <%= f.submit t('log_in'), class: 'btn btn-sm btn-success btn-block signInColor'  %>
      </div>
    <% end %>
  </div>
</div>

<%= render "users/shared/links" %>

<div class="footer">
  <h6>
    <p>
      <a href="http://www.applift.com/privacy-policy.html" target="_blank"><%=t :privacy %></a>
      |
      <a href="http://www.applift.com/terms-and-conditions.html" target="_blank"><%=t :tcs %></a>
    </p>
    All Rights Reserved © 2016 AppLift
  </h6>
</div>
