<div class="jp_navbar">
  <!-- <a href="http://dsp.applift.com/" class="jp_logo_link"> -->
  <div class="jp_logo_container">
    <img class="jp_top_logo" src="http://pubnative-assets.s3.amazonaws.com/static/widget/img/html_units/jp_dsh/datalift_cpc_logo.png">
  </div>
  <!-- </a> -->

  <% if I18n.locale == I18n.default_locale %>
    <%= link_to image_tag("http://pubnative-assets.s3.amazonaws.com/static/widget/img/html_units/jp_dsh/en_fg.png", class: "jp_flag"), :locale=>'en'%>
  <% else %>
    <%= link_to image_tag("http://pubnative-assets.s3.amazonaws.com/static/widget/img/html_units/jp_dsh/jp_fg.png", class: "jp_flag"), :locale=>'jp'%>
  <%end%>

  <div class="jp_sign_out signInColor">
    <%= link_to t('sign_out'), destroy_user_session_path, :method => :delete, class: 'jp_out_link' %>
  </div>
  <div class="jp_sign_out signInColor">
    <%= link_to t('placements'), {:controller => :placements, :action => :show}, class: 'jp_out_link' %>
  </div>
  <div class="jp_sign_out signInColor">
    <%= link_to t('campaigns'), root_url, class: 'jp_out_link' %>
  </div>
</div>

<div class="main-container">
  <div class="container jp_table_container">
    <p><%= t :select_dates %></p>
    <%= form_tag({controller: "placements", action: "show"}, method: "post") do %>
      <%= label_tag(t('start_date')) %>
      <%= text_field_tag(:start_date, @start_date) %>
      <%= label_tag(t('end_date')) %>
      <%= text_field_tag(:end_date, @end_date) %>
      <%= submit_tag(t('submit')) %>
    <% end %>
  </div>
  
  <div class="container">
    <table class="table table-striped table-bordered dataTable sortable">
      <thead>
        <tr>
          <th><%= t :name_camp %></th>
          <th><%= t :impressions %></th>
          <th><%= t :clicks %></th>
          <th><%= t :installs %></th>
          <th><%= t :cpc %></th>
          <th><%= t :spend %></th>
          <th><%= t :ecpi %></th>
          <th><%= t :cvr %></th>
          <th><%= t :ctr %></th>
        </tr>
      </thead>
      <tbody>
       <strong><%= flash[:error] %></strong>

        <% a = Placement.where(user_id: current_user.id).where("day >= ?", @start_date).where("day <= ?", @end_date).group(:name).sum(:impressions) %>
        <% b = Placement.where(user_id: current_user.id).where("day >= ?", @start_date).where("day <= ?", @end_date).group(:name).sum(:clicks) %>
        <% c = Placement.where(user_id: current_user.id).where("day >= ?", @start_date).where("day <= ?", @end_date).group(:name).sum(:installs) %>
        <% d = Placement.where(user_id: current_user.id).where("day >= ?", @start_date).where("day <= ?", @end_date).group(:name).average(:cpc) %>
        <% e = a.zip(b).zip(c).zip(d) %>
        <% e.each do |campaign| %>
          <tr>
            <td><%= campaign[0][0][0][0] %></td>
            <td><%= campaign[0][0][0][1] %></td>
            <td><%= campaign[0][0][1][1] %></td>
            <td><%= campaign[0][1][1]%></td>
            <td><%= campaign[1][1]%></td>
            <td><%= (campaign[1][1]*campaign[0][0][1][1]).round(2)%></td>
            <td><%= ecpi(campaign[0][1][1],(campaign[0][0][1][1]).round(2)) %></td>
            <td></td>
            <td><%= (cvr(campaign[0][1][1].to_f,campaign[0][0][1][1].to_f)*100).round(2) %>%</td>
            <td><%= (cvr(campaign[0][0][1][1].to_f,campaign[0][0][0][1].to_f)*100).round(2) %>%</td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
        <th><%= t :totals %>:</th>
        <th><%= Placement.where(user_id: current_user.id).where("day >= ?", @start_date).where("day <= ?", @end_date).sum(:impressions) %></th>
        <th><%= Placement.where(user_id: current_user.id).where("day >= ?", @start_date).where("day <= ?", @end_date).sum(:clicks) %></th>
        <th><%= Placement.where(user_id: current_user.id).where("day >= ?", @start_date).where("day <= ?", @end_date).sum(:installs) %></th>
        <th><%= Placement.where(user_id: current_user.id).where("day >= ?", @start_date).where("day <= ?", @end_date).average(:cpc) %></th>
        <th><%= (Placement.where(user_id: current_user.id).where("day >= ?", @start_date).where("day <= ?", @end_date).sum(:clicks)*0.2).round(2) %></th>
        <% total_spend = Placement.where(user_id: current_user.id).where("day >= ?", @start_date).where("day <= ?", @end_date).sum(:clicks)*0.2 %>
        <% total_installs = Placement.where(user_id: current_user.id).where("day >= ?", @start_date).where("day <= ?", @end_date).sum(:installs) %>
        <% total_clicks = Placement.where(user_id: current_user.id).where("day >= ?", @start_date).where("day <= ?", @end_date).sum(:clicks) %>
        <% total_impressions = Placement.where(user_id: current_user.id).where("day >= ?", @start_date).where("day <= ?", @end_date).sum(:impressions) %>
        <th><%= (total_spend/total_installs).round(2) %></th>
        <th><%= ((total_installs.to_f/total_clicks.to_f)*100).round(2) %>%</th>
        <th><%= ((total_clicks.to_f/total_impressions.to_f)*100).round(2) %>%</th>
        </tr>
      </tfoot>
    </table>
    <p>
    <%= link_to t('csv_down'), :controller => :placements, :action => :show, :format => "csv" %>
    </p>
  </div>
</div>

<div class="footer">
  <h6>
    <p>
      <a href="http://www.applift.com/privacy-policy.html" target="_blank"><%=t :privacy %></a>
      |
      <a href="http://www.applift.com/terms-and-conditions.html" target="_blank"><%=t :tcs %></a>
    </p>
    All Rights Reserved © 2016 AppLift
  </h6>
</div>
