<div class="jp_navbar">
  <a href="http://dsp.applift.com/" class="jp_logo_link">
    <img src="https://adv-dsplogo.s3.amazonaws.com/dsp_1459363534_513530713_DataLiftGreyWeb.png" style="width:150px;height:35px">
  </a>
  <div class="jp_sign_out signInColor">
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete, class: 'jp_out_link' %>
  </div>
  <div class="jp_sign_out signInColor">
    <%= link_to "Placements", {:controller => :placements, :action => :show}, class: 'jp_out_link' %>
  </div>
  <div class="jp_sign_out signInColor">
    <%= link_to "Campaigns", root_url, class: 'jp_out_link' %>
  </div>
</div>


<div class="main-container">
  <div class="container jp_table_container">
    <p>Select the dates for your report</p>
    <%= form_tag({controller: "campaigns", action: "show"}, method: "post") do %>
      <%= label_tag("Start date:") %>
      <%= text_field_tag(:start_date) %>
      <%= label_tag("End date:") %>
      <%= text_field_tag(:end_date) %>
      <%= submit_tag( "Submit" ) %>
    <% end %>
  </div>
  
  <div class="container">
    <table class="table table-striped table-bordered dataTable">
      <thead>
        <tr>
          <th>Name</th>
          <th>Impressions</th>
          <th>Clicks</th>
          <th>Installs</th>
          <th>CPC</th>
          <th>Spend</th>
          <th>eCPI</th>
          <th>Budget</th>
          <th>CVR</th>
          <th>CTR</th>
        </tr>
      </thead>
      <tbody>
       <strong><%= flash[:error] %></strong>
        <% a = Campaign.where(user_id: current_user.id).where("day >= ?", @start_date).where("day <= ?", @end_date).group(:name).order(impressions: :desc).sum(:impressions) %>
        <% b = Campaign.where(user_id: current_user.id).where("day >= ?", @start_date).where("day <= ?", @end_date).group(:name).sum(:clicks) %>
        <% c = Campaign.where(user_id: current_user.id).where("day >= ?", @start_date).where("day <= ?", @end_date).group(:name).sum(:installs) %>
        <% d = a.zip(b).zip(c) %>
        <% d.each do |campaign| %>
        
          <tr>
            <td><%= campaign[0][0][0] %></td>
            <td><%= campaign[0][0][1] %></td>
            <td><%= campaign[0][1][1]%></td>
            <td><%= campaign[1][1]%></td>
            <td><%= 0.2 %></td>
            <td><%= (campaign[0][1][1]*0.2).round(2) %></td>
            <td><%= ((campaign[0][1][1]*0.2)/campaign[1][1]).round(2) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="footer">
  <h6>
    <p>
      <a href="http://www.applift.com/privacy-policy.html" target="_blank">Privacy Policy</a>
      |
      <a href="http://www.applift.com/terms-and-conditions.html" target="_blank">Terms &amp; Conditions</a>
    </p>
    All Rights Reserved © 2016 AppLift
  </h6>
</div>
