
<div class="container">
<table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Impressions</th>
        <th>Clicks</th>
        <th>Installs</th>
        <th>CPC</th>
        <th>Spend</th>
        <th>eCPI</th>
        <th>Budget</th>
        <th>CVR</th>
        <th>CTR</th>
      </tr>
    </thead>
    <tbody>
      <% Campaign.all.each do |campaign| %>
      <tr>
        <td><%= campaign.name %></td>
        <td><%= campaign.impressions %></td>
        <td><%= campaign.clicks %></td>
        <td><%= campaign.installs %></td>
        <td><%= campaign.cpc %></td>
        <td><%= campaign.spend %></td>
        <td><%= campaign.ecpi %></td>
        <td><%= campaign.budget %></td>
        <td><%= campaign.cvr %></td>
        <td><%= campaign.ctr %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>